<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Root - FileMgr</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='routes_style.css') }}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  
  
</head>

<body>
	<div>
		<h2>Select the participant to view their records:</h2>
  
  		<script src='https://code.jquery.com/jquery-2.2.4.min.js'></script>
      <script src="{{ url_for('static', filename='routes_select.js') }}"></script>
  
  		

	</div>

</body>

</html>
