<!DOCTYPE html>
<html lang="en">
<head>
  <title>Root</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
  
<div class="container">
  <h1>НЕОБХОДИМА АВТОРИЗАЦИЯ</h1>
  <p>Необходимо ввести код доступа.</p>      
</div>

<div class="container">
  
  <form action="/root/login" method = 'post'>
    
    
    <div class="form-group">
      <label for="dep_time">Введите код доступа:</label>
      <input type="password" class="form-control" id="pwd" name="pwd">
    </div>    
    
    <button type="submit" class="btn btn-primary">Login</button>

     <div class="col-sm-3">
      <a href="/request_code" class="btn btn-info" role="button">Запросить код доступа</a>
    </div>

  </form>
</div>
<br><br>
     Код доступа отправлен на авторизованный емейл.

</body>  



</html>