<!DOCTYPE html>
<html lang="en">
<head>
  <title>tests</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
  
<div class="container">
  <h1>Тестировщик. Администрирование</h1>
</div>


<div class="row">
  

  <div class="col-sm-3">
      <a href="/root/set_ans" class="btn btn-info" role="button">Добавить новый тест</a>
  </div>

  <div class="col-sm-3">
      <a href="/root/view_stat_class" class="btn btn-info" role="button">Просмотр статистики</a>
  </div>

  <div class="col-sm-3">
      <a href="/root/view_stat_student" class="btn btn-info" role="button">Ответы выбранного ученика</a>
  </div>

  <div class="col-sm-3">
      <a href="/root/view_delays" class="btn btn-info" role="button">Поздняя сдача</a>
  </div>
         
</div>

</body>  



</html>