<!DOCTYPE html>
<html lang="en">
<head>
	<title>VIDEO - ROOT</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="hide_doc.js"></script>
	<script src="{{ url_for('static', filename='hide_doc.js') }}"></script>
</head>
<body>

<div class="container">
  <h1>Root - Home</h1>    
</div>
	
<div class="row">
	<div class="col-sm-3">
	    
	</div>

	<div class="col-sm-3">
	    <input type="button" id="trigger_1" class="btn btn-info" value="Add a new team" onclick="myFunction('target')">
	</div>
        
  <div class="col-sm-3">
      <input type="button" id="trigger_2" class="btn btn-info" value="Add a new cam" onclick="myFunction('target2')">
  </div>

  <div class="col-sm-3">
      <a href="/root/file_mgr" class="btn btn-info" role="button">File manager</a>
  </div>
</div>


<div class="container" id="target" style="display: none">
  
  <form action="/root/submit_team" method='POST'>
    
    <div class="form-group">
      <label for="name">Enter team NAME:</label>
      <input type="text" class="form-control" id="team_name" placeholder="Team_Name" name="team_name">
    </div>

    <div class="form-group">
      <label for="city">Enter team CITY:</label>
      <input type="text" class="form-control" id="team_city" placeholder="City" name="team_city">
    </div>

    <div class="form-group">
      <label for="university">Enter team UNIVERSITY:</label>
      <input type="text" class="form-control" id="team_university" placeholder="University" name="team_university">
    </div>

    <div class="form-group">
      <label for="count">Enter NUMBER of participants:</label>
      <input type="text" class="form-control" id="n_participants" placeholder="N_participants" name="n_participants">
    </div>

    <button type="submit" class="btn btn-primary">Add team</button>

  </form>
</div>

<div class="container" id="target2" style="display: none">
  
  <form action="/root/submit_cam" method='POST'>
    
    <div class="form-group">
      <label for="cam_id">Enter cam ID:</label>
      <input type="text" class="form-control" id="cam_id" placeholder="ID" name="cam_id">
    </div>

    <div class="form-group">
      <label for="cam_ip">Enter cam IP & port:</label>
      <input type="text" class="form-control" id="cam_ip" placeholder="IP" name="cam_ip">
    </div>

    <div class="form-group">
      <label for="cam_dimension">Enter cam DIMENSION:</label>
      <input type="text" class="form-control" id="cam_dimension" placeholder="Dimension" name="cam_dimension">
    </div>

    <button type="submit" class="btn btn-primary">Add cam</button>

  </form>
</div>

<br>
<br>
<div class="col-sm-3">
      <a href="/root/logout" class="btn btn-info" role="button">Log out</a>
</div>

</body>
</html>