<!DOCTYPE html>
<html lang="en">
<head>
  <title>set_ans</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="{{ url_for('static', filename='hide_params1.js') }}"></script>
  
  
</head>
<body>
  
<div class="container">
  <h1>Создать новый тест</h1>
  <p>Тема теста - это его уникальное имя (на русском языке). Ответ на вопрос - это последовательность номеров (ЦИФР) правильных ответов БЕЗ разделителей! Номера можно писать в любом порядке. Любые другие символы будут проигнорированы.
<br><br>
  При совпадении имени теста + номера варианта с уже имеющимся будет сохранена последняя версия!<br><br>Просмотреть темы и варианты уже записанных тестов можно <a href="/root/view_tests">здесь.</a></p>      
</div>

<div class="container">
  
  <form action="/root/set_ans/submit" method='POST'>

    <div class="form-group">
      <label for="source">Тема теста:</label>
      <input type="text" class="form-control" id="test_name" placeholder="Введите тему теста" name="test_name">
    </div>
     <div class="form-group">
      <label for="source">Дедлайн:</label>
      
      <input type="date" class="form-control" id="deadline" name="deadline">
      
    </div>


    <div class="form-group">
      <label for="class">Класс:</label>
      <select id="class" name="class" >
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="other">Другой</option>
      </select>
    </div>

    <div class="form-group">
      <label for="source">Вариант:</label>
      <select id="variant" name="variant" >
      </select>
    </div>

    <script>
          var x = document.getElementById("variant");
          for (i =1; i < 30; i++) {
              var option = document.createElement("option");
              option.text = i.toString();
              option.value = i.toString();
              var q = i.toString();
              x.add(option);
          }
    </script>

    <div class="form-group">
      <label for="source">Вопрос 1:</label>
      <input type="text" class="form-control" id="q1" placeholder="Ответ 1" name="q1">
    </div>
    
    <div class="form-group">
      <label for="source">Вопрос 2:</label>
      <input type="text" class="form-control" id="q2" placeholder="Ответ 2" name="q2">
    </div>

    <div class="form-group">
      <label for="source">Вопрос 3:</label>
      <input type="text" class="form-control" id="q3" placeholder="Ответ 3" name="q3">
    </div>

    <div class="form-group">
      <label for="source">Вопрос 4:</label>
      <input type="text" class="form-control" id="q4" placeholder="Ответ 4" name="q4">
    </div>

    <div class="form-group">
      <label for="source">Вопрос 5:</label>
      <input type="text" class="form-control" id="q5" placeholder="Ответ 5" name="q5">
    </div>

    <div class="form-group">
      <label for="source">Вопрос 6:</label>
      <input type="text" class="form-control" id="q6" placeholder="Ответ 6" name="q6">
    </div>

    <div class="form-group">
      <label for="source">Вопрос 7:</label>
      <input type="text" class="form-control" id="q7" placeholder="Ответ 7" name="q7">
    </div>

    <div class="form-group">
      <label for="source">Вопрос 8:</label>
      <input type="text" class="form-control" id="q8" placeholder="Ответ 8" name="q8">
    </div>

    <div class="form-group">
      <label for="source">Вопрос 9:</label>
      <input type="text" class="form-control" id="q9" placeholder="Ответ 9" name="q9">
    </div>

    <div class="form-group">
      <label for="source">Вопрос 10:</label>
      <input type="text" class="form-control" id="q10" placeholder="Ответ 10" name="q10">
    </div>

    <button type="submit" class="btn btn-primary">Создать</button>
    
  </form>
</div>

</body>  



</html>